@charset "gb2312";

body{margin:0;font-size:14px;font-family:'Microsoft Yahei','ו',Arial;background:#e3e3e3;color:#333;}
a{text-decoration:none;color:#333;}
a:hover{color:#00a9f8;}
div{word-break:break-all;}
img{border:none;}
form,ul,li{margin:0;padding:0;}
ul,li{list-style:none;}
textarea{font-size:14px;}
table{width:100%;border:0;border-collapse:0;border-spacing:0;}
	
.clear{clear:both;font-size:0px;}
.space{height:10px;font-size:0px;}
.not_found{padding:50px 0;text-align:center;}
.button{padding:0 8px;margin:0;height:24px;line-height:24px;border:1px solid #ccc;background:#EEE;cursor:pointer;}

#header{width:100%;min-width:1200px;height:110px;background:#f5f5f5;position:relative;}
#main{width:1200px;margin:0 auto;padding:0 0 10px 0;}
#footer{width:100%;min-width:1200px;height:100px;border-top:2px solid #00a9f8;background:#f5f5f5;}

#header .main{width:1200px;margin:0 auto;position:relative;}
#header .top{height:3px;background:#00a9f8;font-size:1px;}
#header .logo{position:absolute;left:18px;top:22px;}
#header .logo img{height:63px;}
#header .links{position:absolute;right:16px;top:18px;width:190px;}
#header .links a{display:block;position:absolute;top:0;font-size:16px;color:#00a9f8;}
#header .links .a_1{left:24px;}
#header .links .a_2{left:108px;}
#header .search{position:absolute;right:16px;top:52px;width:220px;height:36px;background:#00a9f8;}
#header .search .text{border:0;height:32px;line-height:32px;width:160px;padding:0 5px;margin:0;position:absolute;left:2px;top:2px;}
#header .search .bt{position:absolute;right:3px;top:2px;width:42px;line-height:32px;color:#FFF;font-size:14px;text-align:center;cursor:pointer;}

#nav{width:100%;min-width:1200px;background:#00a9f8;}
#nav ul{width:1200px;margin:0 auto;}
#nav li{float:left;padding:5px 9px;}
#nav li a{display:block;float:left;height:40px;line-height:40px;padding:0 18px;font-size:16px;color:#FFF;}
#nav li a:hover{background:#FFF;color:#00a9f8;}

#left{float:left;width:860px;padding:10px;}
#right{float:right;width:300px;padding:10px;}

.box{padding:0 0 15px 0;}
.box .head{height:40px;position:relative;border-bottom:2px solid #00a9f8;background:#f5f5f5;}
.box .head span{display:block;position:absolute;left:0;top:0;min-width:100px;_width:100px;height:40px;line-height:40px;padding:0 10px;text-align:center;font-size:16px;background:#00a9f8;color:#FFF;}
.box .head .more{display:block;position:absolute;right:10px;top:0;line-height:40px;font-size:14px;color:#00a9f8;}
.box .main{background:#FFF;}

.here{height:40px;position:relative;border-bottom:2px solid #00a9f8;background:#eee;}
.here span{display:block;position:absolute;left:0;top:0;min-width:100px;_width:100px;height:40px;line-height:40px;padding:0 10px;text-align:center;font-size:16px;background:#00a9f8;color:#FFF;}
.here .link{position:absolute;right:12px;top:10px;color:#00a9f8;}
.here .link a{color:#00a9f8;padding:0 8px;}

#link{padding:10px;}
#link .main{padding:10px;line-height:26px;}
#link .img{padding:0 0 4px 0;}
#link .img a{display:block;float:left;padding:4px 6px;}
#link .img img{width:88px;height:31px;}
#link .word a{padding:0 4px;}
#link .word a:hover{color:#00a9f8;}

.list .main{min-height:100px;_height:100px;padding:8px;}
.list .main div{padding:0 0 0 8px;line-height:40px;border-bottom:1px dashed #CCC;position:relative; height:40px;overflow: hidden}
.list .main div span{position:absolute;width:85px;top:0;right:0;color:#666;}

.index_list{float:left;width:380px;padding:10px;}
.art_sheet{background:#FFF;}

#footer .nav{text-align:center;padding:30px 0 0 0;}
#footer .nav a{padding:0 5px;}
#footer .info{text-align:center;padding:8px 0 0 0;}
#footer .info a{padding:0 8px 0 0;}

.share{padding:20px 0;}

.page_link{padding:30px 0;zoom:1;}
.page_link .inner{float:left;position:relative;left:50%;}
.page_link .inner_2{float:left;position:relative;left:-50%;}
.page_link a{display:block;float:left;height:30px;line-height:30px;padding:0 12px;margin:0 10px 0 0;border:1px solid #CCC;background:#DDD;}
.page_link .on{font-weight:bold;color:#00a9f8;}

#prev_next{padding:22px 5px;line-height:26px;}
#prev_next .prev{float:left;}
#prev_next .next{float:right;}
#prev_next a:hover{color:#00a9f8;}

#article{padding:10px;background:#FFF; font-size:16px; line-height:30px;}
#article h1 {text-align: center; margin-bottom:20px;}
#article img {
    display: block;margin:20px auto;}
#article .title{text-align:center;}
#article .message{padding:10px;text-align:center;color:#999;border-bottom:1px dashed #999;}
#article .main{padding:10px 0;font-size:16px;line-height:150%;min-height:380px;_height:380px;}
#article .main img{max-width:700px;_width:expression(this.width>700?700:true);}
#article .main table{background:#999;border-spacing:1px;}
#article .main td{background:#FFF;padding:5px;}

#mes_main{background:#FFF;padding:10px;}
	
.mes_sheet{padding:0 10px;color:#333;}
.mes_sheet li{list-style:none;border-bottom:1px dashed #999;padding:10px 0;}
.mes_sheet div{line-height:20px;}
.mes_sheet span{color:#00a9f8;}
.mes_sheet .reply{border:1px solid #CCC;background:#f5f5f5;margin:10px 50px;padding:10px;}
	
#leave_word{padding:10px 0;border:1px solid #CCC;background:#f5f5f5;}
#leave_word td{padding:5px;}
#leave_word .l{text-align:right;width:150px;}
#leave_word .text{width:200px;}
#leave_word .bt_row{text-align:center;}
#leave_word textarea{height:100px;width:450px;}
	
#comment{margin:20px 0 0 0;background:#FFF;}
#comment .head{height:40px;position:relative;border-bottom:2px solid #00a9f8;background:#f5f5f5;}
#comment .head span{display:block;position:absolute;left:0;top:0;min-width:100px;_width:100px;height:40px;line-height:40px;padding:0 10px;text-align:center;font-size:16px;background:#00a9f8;color:#FFF;}
#comment .main{padding:10px;}
	
#info{padding:10px;}
#info .main{text-align:center;padding:50px 0;}
#info .main div{padding:10px 0;font-size:16px;}
#info .main a{color:#00a9f8;}
#info .main a:hover{text-decoration:underline;}
	