<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{keywords}"/>
    <meta name="description" content="{description}"/>
    <meta name="version" content="JiShuChong 1.0">
    <title>{title}</title>
    <meta name="keywords" content="{keywords}"/>
    <meta name="description" content="{description}"/>
    <link href="{模板}/css/jsc/index.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="header">
    <div class="top"></div>
    <div class="main">
        <div class="logo"><a href="http://{当前域名}/"><img src="/static/logo.png"></a></div>

        <div style="position:absolute;left:220px;top:13px">

        </div>


        <div class="links">
            <a class="a_1" href="/scbz/" onclick="window.external.addFavorite('http://'+window.location.host,'{主关键词}')"
               target="_top">
                收藏本站
            </a>
            <a rel="nofollow" class="a_2" href="http://wpa.qq.com/msgrd?v=3&uin=2535748010&site=qq&menu=yes">
                在线留言
            </a>
        </div>
        <div class="search">
            <form id="form_search" method="post" action="/search/">
                <input class="text" name="key" maxlength="30" onkeydown="if(event.keyCode == 13)do_search();"
                       type="text">
                <a class="bt" onclick="do_search()">
                    搜索
                </a>
            </form>
        </div>
    </div>
</div>
<div id="nav">
    <ul>
        <li>
            <a href="/">
                网站首页
            </a>
        </li>
        <li>
            <a href="/qbwz/">
                全部文章
            </a>
        </li>
        <li>
            <a href="/gnxw/">
                国内新闻
            </a>
        </li>
        <li>
            <a href="/gjxw/">
                国际新闻
            </a>
        </li>
        <li>
            <a href="/shbt/">
                社会百态
            </a>
        </li>
        <li>
            <a href="/ylmx/">
                娱乐明星
            </a>
        </li>
        <li>
            <a href="/cykj/">
                创业科技
            </a>
        </li>
        <li>
            <a href="/jsls/">
                军事历史
            </a>
        </li>
        <li>
            <a href="https://wpa.qq.com/msgrd?V=3&uin=2535748010&Site=QQ客服&Menu=yes">
                在线留言
            </a>
        </li>
        <li><a href="/sitemap.html">
            网站地图
        </a>
        </li>
        <div class="clear">
        </div>
    </ul>
</div>

<script language="javascript">
    function do_search() {
        var obj = document.getElementById("form_search");
        var val = obj.key.value;
        obj.action = obj.action + "/QD1614151902" + val + "/";
        obj.submit();
    }
</script>


<div id="main">

    <div style="padding:10px">

    </div>
    <div id="left">
        <div class="here">
            <span>文章ID{随机数字}</span>
            <div class="link">
                <a href="http://{当前域名}/">首页</a>
                -&gt;<a href="/wzzx/">文章中心</a> -&gt;<a href="{页面地址}">{对应采集文章标题}</a></div>
        </div>

        <div id="article">
            {随机内容}

            <div id="prev_next">
                <div class="prev">上一篇：<a href="{随机URL}">{采集文章标题}</a></div>
                <div class="next">下一篇：<a href="{随机URL}">{采集文章标题}</a></div>
                <div class="clear"></div>
            </div>
        </div>


        <div id="comment">
            <div class="head"><span>用户评论</span></div>
            <div class="main">
                <div class="mes_sheet">
                    <ul>
                    </ul>
                    <div class="not_found">{随机段子}</div>
                </div>
                <div class="page_link">
                    <div class="inner">
                        <div class="inner_2">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div id="leave_word">
                    <form id="form_add_comment" method="post" action="/liuyan/">
                        <input name="cmd" value="add_comment" type="hidden">
                        <input name="channel" value="article" type="hidden">
                        <input name="page_id" value="401" type="hidden">
                        <table>
                            <tbody>
                            <tr>
                                <td class="l">用户名：</td>
                                <td><input name="username" class="text" value="匿名用户" type="text"></td>
                            </tr>
                            <tr>
                                <td class="l">E-mail：</td>
                                <td><input name="email" class="text" type="text"></td>
                            </tr>
                            <tr>
                                <td class="l">评价等级：</td>
                                <td>
                                    <input name="rank" value="1" type="radio"><img src="{模板}/images/jsc/star.gif">&nbsp;&nbsp;
                                    <input name="rank" value="2" type="radio"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif">&nbsp;&nbsp;
                                    <input name="rank" value="3" type="radio"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif"><img src="{模板}/images/jsc/star.gif">&nbsp;&nbsp;
                                    <input name="rank" value="4" type="radio"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif">&nbsp;&nbsp;
                                    <input name="rank" value="5" checked="checked" type="radio"><img
                                        src="{模板}/images/jsc/star.gif"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif"><img src="{模板}/images/jsc/star.gif"><img
                                        src="{模板}/images/jsc/star.gif">&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td class="l">评价内容：</td>
                                <td><textarea name="text"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="bt_row">
                                        <input class="button" onclick="submit_add_comment()" value="提交" type="button">&nbsp;&nbsp;
                                        <input class="button" value="重置" type="reset">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <script language="javascript">
            var lang_email_empty = "Email不能为空";
            var lang_comment_text_empty = "您没有输入评论的内容";
        </script>

        <script language="javascript">
            function submit_add_comment() {
                var str = "";
                var obj = document.getElementById("form_add_comment");
                if (obj.email.value == "") {
                    str += "-" + lang_email_empty + "\n";
                }
                if (obj.text.value == "") {
                    str += "-" + lang_comment_text_empty + "\n";
                }
                if (str != "") {
                    alert(str);
                } else {
                    obj.submit();
                }
            }
        </script>

    </div>
    <div id="right">
        <div class="box list">
            <div class="head"><span>最新文章</span><a class="more" href="/zxwz/">更多&gt;&gt;</a></div>
            <div class="main">
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
                <div>
                    <a href="{随机URL}" title="{随机关键词}" target="_blank">
                        {随机关键词}
                    </a>
                </div>
            </div>
        </div>

        <div class="box list">
            <div class="head"><span>推荐文章</span><a class="more" href="/tjwz/">更多&gt;&gt;</a></div>
            <div class="main">
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>
                <div><a href="{随机URL}">{随机关键词}</a></div>


            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div id="footer">
    <div class="nav">
        <a href="/gywm/">关于我们</a>
        |
        <a href="/qywh/">企业文化</a>
        |
        <a href="/zxzx/">最新资讯</a>
        |
        <a href="/gscp/">公司产品</a>
        |
        <a href="/rczp/">人才招聘</a>
        |
        <a href="/zxfk/">在线反馈</a>
        |
        <a href="/sitemap.html">网站地图</a>
        |
        <a rel="nofollow" href="https://wpa.qq.com/msgrd?V=3&uin=2535748010&Site=QQ%E5%AE%A2%E6%9C%8D&Menu=yes">联系我们</a>
    </div>
    <div class="info">
        Powered by
        {主关键词}
    </div>
</div>
</body>
</html>