<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{title}</title>
    <meta name="keywords" content="{keywords}" />
    <meta name="description" content="{description}" />
    <meta name="author" content="">
    <link href="/templates/mobile1/css/lady.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<form name="form1" method="post" action="wapList.aspx?listID=73" id="form1">
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value=""/>

    <div id="ivy_div" style="display: none;"></div>
    <div class="body">
        <!-- 公共头部 -->
        <div class="header-top">
            <div class="header-top-left"><a href="//{当前域名}" class="header-top-left-logo" title="{主关键词}"><img
                    src="/static/logo.png" height="30"/></a></div>
            <div class="header-top-mid JheaderTopMid"></div>
            <div class="htr fr"></div>
        </div>
        <div class="header-nav JheaderNav" style="display:none">
            <div class="header-nav-a">
                <a href="//{当前域名}/">首页</a>
                <a href="/shizheng/">时政</a>
                <a href="/guancha/">观察</a>
                <a href="/minsheng/">民生</a>
                <a href="/shehui/">社会</a>
            </div>
            <div class="header-nav-a">
                <a href="{随机URL}">视频</a>
                <a href="{随机URL}">文化</a>
                <a href="{随机URL}">记忆</a>
                <a href="{随机URL}">图集</a>
                <a href="{随机URL}" class="icon-new">热门</a></div>
        </div>
        <script type="text/javascript">
            (function () {
                var JheaderNav = document.querySelector(".JheaderNav"),
                        JheaderTopMid = document.querySelector(".JheaderTopMid");
                JheaderTopMid.addEventListener("click", function () {
                    JheaderNav.style.display = JheaderNav.style.display == "none" ? "block" : "none"
                }, false);
            })()
        </script>
        <div class="header-bg">
            <a href="//{当前域名}" class="header-home" title="{主关键词}"></a>
            <div class="header-title"><span class="header-title-nav">
                <a href="{随机URL}" target=_self class="nav_header_breadcrumbs">{主关键词}</a>&nbsp;&gt;&nbsp;
                <a href="{随机URL}" target=_self class="nav_header_breadcrumbs">社会新闻</a></span></div>
        </div>

        <div class="main">
            <section>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 11:33:28
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 11:29:45
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:53:39
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:42:45
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:29:29
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 7:27:47
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 7:22:20
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 7:22:59
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 9:29:46
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 12:16:07
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 9:15:01
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:54:22
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:42:25
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 16:02:01
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 15:41:46
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 7:11:03
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 9:36:04
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 10:05:49
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 7:30:13
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>
                <a href="{随机URL}">
                    <dl>
                        <dt>{随机图片}</dt>
                        <dd><h2>{随机标题}</h2>
                            <time>
                                {当天日期} 9:14:20
                            </time>
                            <p>{随机段子}...</p></dd>
                    </dl>
                </a>

            </section>
        </div>
        <div class="artNav-page">

            <div id="AspNetPager1">
                <div style="width:70px;float:left;">
                    第<font color='red'>1</font>/137页
                </div>
                <div style="float:left;">
                    <a disabled="disabled" style="margin-right:5px;">首页</a><a disabled="disabled" style="margin-right:5px;">上一页</a>
                    <a href="{随机URL}" style="margin-right:5px;">下一页</a><a href="{随机URL}" style="margin-right:5px;">尾页</a>
                </div>
            </div>


        </div>
        <!-- 公共底部 -->
        <div class="footer">
            <p class="pTit-1"></p>
            <p class="pTit-3"><em class="icon-group-small"></em>{主关键词}版权所有</p>
            <p>
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
                {随机权重池}|
            </p>
        </div>
        <div class="toTop-btn" title="回到顶部" onClick="window.scrollTo(0, 0);"></div>
        <script type="text/javascript">
            if (window.location.hash == "") {
                try {
                    window.scrollTo(0, 1);
                } catch (e) {
                }
            }
            (function () {
                window.onscroll = window.ontouchmove = window.onresize = function () {
                    if (document.documentElement.scrollTop + document.body.scrollTop > 800) {
                        document.querySelector(".toTop-btn").style.display = "block";
                    }
                    else {
                        document.querySelector(".toTop-btn").style.display = "none";
                    }
                }
            })();
            function changeForm(url) {
                window.location.href = url;
            }
        </script>
    </div>
    <div>
    </div>
</form>
</body>
</html>